{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<main role="main" class="container" style="padding-top: 90px;">
    <div class="row justify-content-center">
        <div class="col-4">
            <h3 style="color: #1a354f; padding-bottom: 20px;">Update Data</h3>
            <form action="" method="post">
                <div class="form-group">
                    <input type="text" class="form-control" id="title" name="title" value="{{ movies.title }}">
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" id="year" name="year" value="{{ movies.year }}">
                </div>
                <button type="submit" class="btn btn-primary">Update</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}